#app {
    position: relative;
}

#home {
    max-width: 2000px;
    h1 {
        font-size: 6.4rem;
        text-align: center;
        font-weight:600;
        color: #15A8DF;
        font-family: $secondary-font-family;
    }
    .mainLogo {
        * {
            fill: white;
            stroke: none;
        }
    }
    h2 {
        color: white;
        font-size: 5rem;
        font-size: 3.5rem;
        text-align: justify;
        line-height: 1;
    }
}

#serviceareas {
    padding-bottom: 0;
}

header {
    background-color: transparent;
    &.headerScroll {
        background-color: black;
    }
}

.restrictBody {
    overflow: hidden;
}

#navActive {
    background-color: $black;
}

.menuActive {
    transform: translateX(0);
}

.navScroll {
    height: 60px;
    #hamburger {
        stroke: $black;
        margin: 5px 15px;
    }
    ul {
        margin-top: 12px;
        li {
            a {
                color: $black;
                &:visited {
                    color: $black;
                }
                &:hover {
                    color: $black;
                    border-color: $black;
                }
            }
        }
    }
}

#hamburger {
    flex-grow: 1;
    height: 35px;
    max-width: 35px;
    cursor: pointer;
    display: none;
    &:hover {
        stroke-width: 15px;
    }
}

.overVideo {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0;
    max-width: 865px;
}

.controllsVideo {
    bottom: 4%;
    button {
        float: left !important;
        clear: none !important;
        margin-right: 10px;
    }
}

#homevideo {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    .video_overlay {
        position: absolute;
        left: 0;
        z-index: 1;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url("../img/layout/overlay.png");
        &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
        }
    }
    video {
        position: absolute;
        min-height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        min-width: 100%;
        width: auto !important;
        height: auto !important;
    }
}

.screen {
    min-height: 90vh;
    display: grid;
    align-content: center;
    position: relative;
    width: 100%;
}

.screen1 {
    p {
        font-size: 2.8rem;
    }
    svg {
        padding: 5%;
        text {
            fill: white;
            font-family: $base-font-family;
            font-size: 15.3715px;
            font-weight: 400;
        }
    }
}

.screen2 ul {
    display: flex;
    justify-content: space-between;
    li {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .1fr 1fr;
        position: relative;
        max-width: 300px;
        h3 {
            grid-row-start: 1;
            grid-row-end: span 1;
            font-family: $secondary-font-family;
            font-weight: bold;
            font-size: 4rem;
            margin: 0;
            align-self: center;
            text-align: center;
        }
        svg {
            grid-row-start: 1;
            position: absolute;
            grid-row-end: span 2;
            z-index: -1;
        }
        p {
            font-size: 2.7rem;
            font-weight: 100;
            grid-row-start: 2;
            grid-row-end: span 2;
        }
    }
}

.screen3 {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5fr .1fr .1fr .1fr;
    padding: 8% 8% 15% 8%;
    grid-gap: 15px;
    grid-row-gap: 40px;
    .box {
        grid-column-end: span 2;
        position: relative;
        display: grid;
    }
    h2 {
        grid-column-end: span 2;
        font-size: 7rem;
        font-family: $secondary-font-family;
        font-weight: bold;
        padding-bottom: 5%;
        align-self: end;
        text-align: center;
    }
    svg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    h3 {
        font-family: $secondary-font-family;
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.5;
        padding: 2%;
        margin-bottom: 0;
        background: linear-gradient(to right, #0000FF, #00FFFF);
    }
    p {
        font-size: 2.8rem;
        margin: 0 0 0 2%;
        align-self: center;
        line-height: 1;
    }
}

.screen4 {
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 5rem;
        font-family: $secondary-font-family;
        position: relative;
        font-weight: bold;
        display: flex;
        align-self: flex-start;
        &:after {
            content: ' ';
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            background: linear-gradient(to right, #0000FF, #00FFFF);
        }
    }
    .main {
        font-size: 3.5rem;
    }
    h3 {
        font-weight: bold;
        font-size: 2.3rem;
        margin-bottom: 5px;
        padding: 0 5px 0 0;
        display: flex;
        align-self: flex-start;
        &:after {
            content: ' ';
            min-width: 10px;
            width: 100%;
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 5px;
            background: linear-gradient(to right, #0000FF, #00FFFF);
        }
    }
    p {
        font-size: 2.9rem;
        margin-bottom: 5%;
    }
}

.screen5 {
    p {
        font-size: 3rem;
        padding: 5%;
    }
    h4 {
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.5;
        padding: 8% 2%;
        margin-bottom: 8%;
        grid-row-start: 1;
        &:nth-of-type(1) {
            background: linear-gradient(to right, #0022F5, #0A3EF5);
        }
        &:nth-of-type(2) {
            background: linear-gradient(to right, #1F5CF6, #4096F7);
        }
        &:nth-of-type(3) {
            background: linear-gradient(to right, #51B7F9, #70F3FD);
        }
    }
    .columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8rem;
        ul {
            list-style-type: none;
            li {
                font-size: 2.1rem;
                display: flex;
                line-height: 1.5;
                &:before {
                    content: ' ';
                    background-color: #0000FF;
                    width: 5px;
                    height: 5px;
                    display: flex;
                    align-self: flex-start;
                    margin: 13px 10px 10px 10px;
                }
            }
        }
    }
}

.screen6 {
    p {
        font-size: 3rem;
        padding: 5%;
    }
    h4 {
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1;
        padding: 24px 2%;
        margin-bottom: 8%;
        grid-row-start: 1;
        align-self: center;
        &:nth-of-type(1) {
            background: linear-gradient(to right, #0022F5, #0031F5);
        }
        &:nth-of-type(2) {
            background: linear-gradient(to right, #0438F5, #1A54F5);
        }
        &:nth-of-type(3) {
            background: linear-gradient(to right, #205EF6, #317CF6);
            padding: 8% 2%;
        }
        &:nth-of-type(4) {
            background: linear-gradient(to right, #3786F7, #48A5F8);
        }
        &:nth-of-type(5) {
            background: linear-gradient(to right, #4EB1F8, #5ED1FA);
        }
        &:nth-of-type(6) {
            background: linear-gradient(to right, #64DCFB, #73FAFD);
        }
    }
    .columns {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 3rem;
        ul {
            list-style-type: none;
            li {
                font-size: 2.1rem;
                display: flex;
                line-height: 1.5;
            }
        }
    }
}

.screen7 {
    display: flex;
    flex-direction: column;
    h4 {
        font-family: $secondary-font-family;
        font-weight: bold;
        display: flex;
        align-self: flex-start;
        font-size: 2.2rem;
        line-height: 1.5;
        margin-left: 5%;
        padding: .5% 2%;
        margin-bottom: 1%;
        background: linear-gradient(to right, #0000FF, #00FFFF);
    }
    h3 {
        font-weight: bold;
        margin-left: 5%;
        font-size: 2.3rem;
        margin-bottom: 5px;
        padding: 0 5px 0 0;
        display: flex;
        align-self: flex-start;
        &:after {
            content: ' ';
            min-width: 10px;
            width: 100%;
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 5px;
            background: linear-gradient(to right, #0000FF, #00FFFF);
        }
    }
    p {
        font-size: 2.9rem;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .subbed {
        padding: 4% 0 4% 5%;
        display: flex;
        flex-direction: column;
        p {
            font-size: 2.2rem;
        }
    }
    .inMenu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        h4 {
            align-self: unset;
            margin: 0;
        }
    }
}

.screen8 {
    align-content: flex-start;
    min-height: 80vh;
    h2 {
        font-size: 5rem;
        margin-top: 10%;
        font-family: "Eurostile LT", sans-serif;
        position: relative;
        font-weight: bold;
        margin-bottom: 5%;
    }
    .areasContainer {
        position: relative;
        min-height: 60vh;
        h3 {
            font-weight: bold;
        }
        .areasList {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 3rem;
            list-style: none;
            li {
                position: relative;
                .areasIcon {
                    fill: white;
                    max-width: 100px;
                    left: 50%;
                    position: relative;
                    transform: translateX(-50%);
                    margin-bottom: 5%;
                    margin-top: 30%;
                    transition: .3s ease all;
                }
                .backIcon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: -1;
                    transition: .3s ease all;
                }
                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                    padding: 0 5%;
                    font-weight: 400;
                    transition: .3s ease all;
                    margin-bottom: 15%;
                }
                p {
                    opacity: 0;
                    font-size: 0rem;
                }
                &:hover {
                    .areasIcon {
                        opacity: 0;
                        height: 0;
                    }
                    .backIcon {
                        opacity: 0;
                    }
                    h3 {
                        text-align: left;
                        padding: 0;
                        margin-bottom: 2%;
                    }
                    p {
                        opacity: 1;
                        font-size: 2rem;
                    }
                }
            }
        }
        .areasModal {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 10% 5% 5% 10%;
            background-color: black;
            z-index: 1;
            h3 {
                text-align: left;
                font-size: 3.5rem;
                padding: 0;
            }
            p {
                opacity: 1;
                font-size: 3rem;
                padding-bottom: 10%;
            }
            svg {
                position: relative;
                fill: white;
                width: 100px;
                margin-bottom: 3%;
            }
        }
    }
}

#work {
    max-width: none;
    padding: 0 0 7% 0;
    .clients {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(6, 1fr);
        justify-self: center;
        max-width: 1150px;
        margin-bottom: 5%;
        svg {
            fill: white;
            &:nth-of-type(5) {
                padding: 0 10% 0 40%;
            }
        }
    }
}

.workScreen {
    display: grid;
    grid-template-columns: .9fr .65fr .9fr;
    grid-template-rows: .8fr 1.1fr 1fr 1fr;
    &.workFollow {
        grid-template-columns: 1fr .3fr .4fr 1.2fr 1.5fr;
        grid-template-rows: .8fr 1.1fr 0.6fr;
        .image {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            background-image: url("./../img/work/Ludbeck.jpg");
            &~.image {
                background-image: url("./../img/work/novoNordisk.png");
                grid-column: 5 / span 1;
                grid-row: 1 / span 2;
                &~.image {
                    background-image: url("./../img/work/myBlueDoctor.jpg");
                    grid-column: 3 / span 2;
                    grid-row: 3 / span 1;
                }
            }
        }
        .gradient {
            grid-column: 2 / span 3;
            grid-row: 1 /span 1;
            &~.gradient {
                grid-column: 1 / span 2;
                grid-row: 3 /span 1;
                svg {
                    align-self: flex-start;
                    width: 100px;
                }
                &~.gradient {
                    grid-column: 5 / span 1;
                    grid-row: 3 /span 1;
                    svg {
                        align-self: center;
                        width: auto;
                    }
                }
            }
        }
        .video {
            grid-column: 1 / span 4;
            grid-row: 2 / span 1;
            background-size: cover;
            background-position: 0;
            &:after {
                background-image: url("./../img/work/video4.jpg");
            }
        }
    }
    .left {
        &:before {
            position: absolute;
            display: inline-block;
            border-top: 20px solid transparent;
            border-right: 18px solid #0000FF;
            border-bottom: 20px solid transparent;
            border-right-color: #0000FF;
            left: -18px;
            top: 45%;
            content: '';
        }
    }
    .right {
        &:before {
            position: absolute;
            display: inline-block;
            border-top: 20px solid transparent;
            border-left: 18px solid #00FFFF;
            border-bottom: 20px solid transparent;
            border-left-color: #00FFFF;
            right: -18px;
            top: 45%;
            content: '';
        }
    }
    .top {
        &:after {
            position: absolute;
            display: inline-block;
            border-left: 20px solid transparent;
            border-bottom: 18px solid #388EF9;
            border-right: 20px solid transparent;
            border-bottom-color: #388EF9;
            top: -18px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
        }
    }
    .bottom {
        &:after {
            position: absolute;
            display: inline-block;
            border-left: 20px solid transparent;
            border-top: 18px solid #388EF9;
            border-right: 20px solid transparent;
            border-top-color: #388EF9;
            bottom: -18px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
        }
    }
    .gradient {
        padding: 10%;
        position: relative;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to right, #0000FF, #00FFFF);
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        &~.gradient {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
            &~.gradient {
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;
            }
        }
        svg {
            fill: white;
            margin-bottom: 5%;
            max-width: 250px;
            justify-self: center;
        }
        p {
            font-size: 2.3rem;
        }
    }
    .image {
        background-position: 50%;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-image: url("./../img/work/moneyAmigo.jpg");
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        &~.image {
            background-image: url("./../img/work/amigoHealth.jpg");
            grid-column: 2 / span 2;
            grid-row: 3 / span 2;
        }
    }
    .video {
        width: 100%;
        height: 100%;
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        transition: .3s ease all;
        position: relative;
        cursor: pointer;
        align-items: center;
        display: flex;
        justify-content: center;
        &:after {
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-image: url(./../img/work/video1.jpg);
            opacity: 0.8;
            transition: .3s ease all;
            z-index: -1;
            cursor: pointer;
            background-position: 50%;
        }
        svg {
            fill: white;
            width: 50px;
            height: 50px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40%;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
        &~.video {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            &:after {
                background-image: url(./../img/work/video2.jpg);
            }
            &~.video {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
                &:after {
                    background-image: url(./../img/work/video3.jpg);
                }
            }
        }
        iframe {
            width: auto !important;
            height: 100% !important;
        }
    }
}

.modal {
    background-color: transparent;
    transition: .3s ease all;
    width: 100%;
    height: 0;
    padding-bottom: 39.5%;
    display: flex;
    position: relative;
    border-radius: 5px;
    margin: 20% 15% 15% 15%;
    .close {
        top: -35px;
        right: 0px;
        width: 60px;
        height: 60px;
        opacity: 0.8;
    }
    &:focus {
        outline: none;
    }
    .video {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s ease all;
}