#app {
    position: relative;
}

#home {
    max-width: 2000px;
    min-height: 100vh;
    h1 {
        font-size: 6.4rem;
        text-align: center;
        font-weight: 600;
        color: #15A8DF;
        font-family: $secondary-font-family;
    }
    .mainLogo {
        * {
            fill: white;
            stroke: none;
        }
    }
    h2 {
        color: white;
        font-size: 5rem;
        font-size: 3.5rem;
        text-align: justify;
        line-height: 1;
    }
}

#serviceareas {
    padding-bottom: 0;
}

header {
    background-color: transparent;
    &.headerScroll {
        background-color: black;
    }
}

.restrictBody {
    overflow: hidden;
}

#navActive {
    background-color: $black;
}

.menuActive {
    transform: translateX(0);
}

.navScroll {
    height: 60px;
    #hamburger {
        stroke: $black;
        margin: 5px 15px;
    }
    ul {
        margin-top: 12px;
        li {
            a {
                color: $black;
                &:visited {
                    color: $black;
                }
                &:hover {
                    color: $black;
                    border-color: $black;
                }
            }
        }
    }
}

#hamburger {
    flex-grow: 1;
    height: 35px;
    max-width: 35px;
    cursor: pointer;
    display: none;
    &:hover {
        stroke-width: 15px;
    }
}

.overVideo {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    width: 100%;
    svg {
        max-width: 100%;
    }
}

.controllsVideo {
    bottom: 4%;
    button {
        float: left !important;
        clear: none !important;
        margin-right: 10px;
    }
}

#homevideo {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    .video_overlay {
        position: absolute;
        left: 0;
        z-index: 1;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url("../img/layout/overlay.png");
        &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
        }
    }
    video {
        position: absolute;
        min-height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        min-width: 100%;
        width: auto !important;
        height: auto !important;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    svg {
        max-width: 120px;
        align-self: center;
        margin-bottom: 10px;
    }
    h2 {
        color: $brand-main-color;
        font-size: 4rem;
        font-weight: 600;
        align-self: center;
        margin-bottom: 3.5%;
    }
    p {
        font-size: 2.3rem;
        margin-bottom: 3.5%;
        span {
            color: $brand-main-color;
            font-weight: 600;
        }
        &:nth-of-type(1) {
            font-size: 3.4rem;
        }
    }
    ul {
        margin-bottom: 3.5%;
        li {
            list-style-type: none;
            list-style: none;
            margin-bottom: 8px;
            font-size: 2.3rem;
            span {
                font-weight: 600;
                color: $brand-main-color;
                margin-bottom: 10px;
            }
            &:before {
                content: ' ';
                background-color: $brand-main-color;
                width: 7px;
                height: 7px;
                margin: 0 10px 4px 0;
                display: inline-block;
            }
        }
    }
}

#who {
    .brandGrid {
        margin-top: 8%;
        .brandList {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 0px 1fr 0px 1fr 0px;
            position: relative;
            transition: .3s ease all;
            &.visible1 {
                grid-template-rows: 1fr 1fr 1fr 0px 1fr 0px;
                &.brandModal {
                    grid-row: 2;
                }
            }
            &.visible2 {
                grid-template-rows: 1fr 0px 1fr 1fr 1fr 0px;
                &.brandModal {
                    grid-row: 4;
                }
            }
            &.visible3 {
                grid-template-rows: 1fr 0px 1fr 0px 1fr 1fr;
                &.brandModal {
                    grid-row: 6;
                }
            }
            .brandModal {
                grid-column-end: span 4;
                padding: 4%;
                font-size: 2rem;
                opacity: 0;
                height: 0;
                transition: 0ms 0ms ease opacity;
                text-align: center;
                position: relative;
                z-index: -1;
                .close {
                    top: 10px;
                }
                &.visible {
                    height: 100px;
                    opacity: 1;
                    transition: 450ms 150ms ease opacity;
                    z-index: 1;
                }
                &.visible1 {
                    grid-row: 2;
                }
                &.visible2 {
                    grid-row: 4;
                }
                &.visible3 {
                    grid-row: 6;
                }
                p {
                    font-size: 2.2rem;
                    text-align: center;
                }
                h3 {
                    text-align: center;
                }
            }
            .brand {
                min-height: 215px;
                justify-content: center;
                margin-bottom: 0;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                &:hover {
                    .hidden {
                        transform: translateX(0);
                    }
                }
                svg {
                    max-width: 85%;
                    & * {
                        fill: white;
                    }
                }
                .hidden {
                    transform: translateX(-102%);
                    transition: .3s ease-out transform;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 7%;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(0, 0, 0, 0.4);
                    p {
                        font-size: 2rem;
                    }
                }
                &:nth-of-type(1) {
                    background-color: #D4292F;
                    grid-row: 1 / span 1;
                }
                &:nth-of-type(2) {
                    background-color: #38397B;
                    grid-row: 1 / span 1;
                }
                &:nth-of-type(3) {
                    background-color: #9D894A;
                    grid-row: 1 / span 1;
                }
                &:nth-of-type(4) {
                    background-color: #8E8E8E;
                    grid-row: 1 / span 1;
                }
                &:nth-of-type(5) {
                    background-color: #37A4C5;
                    grid-row: 3 / span 1;
                }
                &:nth-of-type(6) {
                    background-color: #D49E5E;
                    grid-row: 3 / span 1;
                }
                &:nth-of-type(7) {
                    background-color: #50B8DB;
                    grid-row: 3 / span 1;
                }
                &:nth-of-type(8) {
                    background-color: #194A99;
                    grid-row: 3 / span 1;
                }
                &:nth-of-type(9) {
                    background-color: #C58A38;
                    grid-row: 5 / span 1;
                }
                &:nth-of-type(10) {
                    background-color: #58B3AB;
                    grid-row: 5 / span 1;
                }
                &:nth-of-type(11) {
                    background-color: #33BDD1;
                    grid-row: 5 / span 1;
                }
                &:nth-of-type(12) {
                    background-color: #589059;
                    grid-row: 5 / span 1;
                }
            }
        }
    }
    p:nth-of-type(1) {
        font-size: 4rem;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        margin-top: 4%;
        li {
            max-width: 300px;
            list-style-type: none;
            list-style: none;
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: column;
            &:before {
                display: none;
            }
            svg {
                max-width: 120px;
                margin-bottom: 4%
            }
            h3 {
                font-weight: 600;
                font-size: 2rem;
                margin-bottom: 10px;
            }
            h4 {
                color: $brand-main-color;
                font-size: 1.8rem;
            }
        }
    }
}

#methodologies {
    .methodGrid {
        position: relative;
        .methodModal {
            opacity: 0;
            z-index: -1;
            position: relative;
            transition: 300ms 0ms ease opacity, 100ms 200ms ease z-index;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 0 4%;
            height: 730px;
            .special{
                ul:nth-of-type(1){
                    display: flex;
                    flex-direction: column;              
                    li{
                        color: white;
                        font-weight: 100;
                    }
                }
                h5{
                    font-weight: 600;
                    color: $brand-main-color;
                    font-size: 2.7rem;
                }
                p:nth-of-type(1){
                    opacity:1;
                }
            }
            .next {
                right: 0;
                top: 50px;
                width: 60px;
                height: 60px;
                z-index: 1;
                cursor: pointer;
                &:before,
                &:after {
                    height: 22px;
                    top: 0;
                    left: 30px;
                }
                &:after {
                    top: 15px;
                }
            }
            ul {
                &:nth-of-type(1) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 3rem;
                    li {
                        color: $brand-main-color;
                        font-size: 2.3rem;
                        font-weight: 600;
                    }
                }
                &:nth-of-type(2){
                    font-weight: 600;
                }
            }
            p {
                &:nth-of-type(1) {
                    opacity: 0.8;
                    font-size: 2.3rem;
                    margin-bottom: 10px;
                }
            }
            h3 {
                font-weight: 600;
                align-self: center;
            }
            svg {
                min-height: 120px;
                display: flex;
            }
            &.visible {
                z-index: 1;
                opacity: 1;
                height: auto;
                transition: 350ms 100ms ease opacity, 0ms 500ms ease height, 0ms 0ms ease z-index;
            }
        }
        .methodList {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
            &.visible {
                opacity: 0;
                z-index: -1;
            }
            .method {
                align-items: center;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                h3 {
                    color: $brand-main-color;
                    text-align: center;
                    font-size: 2.4rem;
                    padding: 0 5%;
                }
                &:before {
                    display: none;
                }
            }
        }
    }
}

.fullVideo,
.halfVideo {
    width: 100% !important;
    height: 0;
    padding-bottom: 56.6%;
    display: flex;
    position: relative;
    margin-bottom: 8%;
    iframe {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
    }
}

#innovation {
    ul li:nth-of-type(1) {
        &:before {
            display: none;
        }
    }
}

#why {
    h2 {
        color: white;
        display: flex;
        svg {
            max-width: 190px;
            margin-left: 15px;
            align-self: flex-end;
        }
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        grid-gap: 5rem;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            &:before {
                display: none;
            }
        }
        h3 {
            color: white;
            background-color: $brand-main-color;
            padding: 4% 8%;
            font-weight: 600;
            font-size: 2.7rem;
            width: 100%;
            text-align: center;
        }
        p {
            font-size: 2.3rem;
            text-align: center;
            padding: 4%;
        }
        span {
            font-size: 8rem;
            color: white;
            font-family: $secondary-font-family;
        }
    }
}

.screen {
    min-height: 90vh;
    display: grid;
    align-content: center;
    position: relative;
    width: 100%;
}

.modal {
    background-color: transparent;
    transition: .3s ease all;
    width: 100%;
    height: 0;
    padding-bottom: 39.5%;
    display: flex;
    position: relative;
    border-radius: 5px;
    margin: 20% 15% 15% 15%;
    .close {
        top: -35px;
        right: 0px;
        width: 60px;
        height: 60px;
        opacity: 0.8;
    }
    &:focus {
        outline: none;
    }
    .video {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s ease all;
}