@include media-query(1000px) {
    html {
        font-size: 50%;
    }
    #home {
        h1 {
            font-size: 7.8rem;
        }
    }
    header {
        height: 55px;
        .headerWrapper {
            height: 55px;
            padding: 8px 4% 8px 4%;
            align-items: flex-start;
            #hamburger {
                display: flex;
            }
            .websiteLogo {
                width: 150px;
                height: 42px;
            }
            .designSuccessLogo {
                display: none;
            }
            .designSuccessLogoMobile {
                display: flex;
            }
            nav {
                position: fixed;
                padding: 80px 10% 10% 10%;
                line-height: 1.8;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: black;
                transform: translateX(-100%);
                transition: 0.3s ease all;
                &.active {
                    transform: translateX(0);
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            a {
                font-size: 5rem;
            }
        }
    }
    .screen1 {
        min-height: 0;
        padding: 15% 0 10% 0;
        p {
            padding-left: 4%;
        }
    }
    .screen2 {
        min-height: 0;
        padding-bottom: 12%;
        ul li {
            padding: 0 2%;
        }
    }
    .screen3 {
        padding-top: 2%;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr .1fr .1fr .1fr;
    }
    .screen5, .screen6{
        min-height: 0;
        padding: 5% 0;
    }
    .screen8 .areasContainer .areasModal {
        display: flex;
    }
    .screen8 .areasContainer .areasList {
        display: flex;
        flex-direction: column;
        li {
            max-height: 250px;
            cursor: pointer;
            .backIcon {
                height: 70%;
            }
            .areasIcon {
                margin-top: 5%;
            }
            p {
                display: none;
            }
            h3 {
                margin-bottom: 20px;
            }
            &:hover {
                .areasIcon {
                    opacity: 1;
                    height: auto;
                }
                .backIcon {
                    opacity: 1;
                }
                h3 {
                    text-align: center;
                    padding: 0;
                    margin-bottom: 20px
                }
            }
        }
    }
    #contact {
        padding: 10% 5% 0 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo logo" "h2 h2" "locations locations" "form form" "locations2 locations2" "footer footer";
        overflow-x: hidden !important;
        .locationContact {
            padding: 0;
            font-size: 1.5rem;
            &~.locationContact {
                display: flex;
                flex-direction: column;
                margin-top: 8%;
                align-items: center;
                p {
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
            }
        }
        .locationMap {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            grid-row-end: last-line;
            min-width: 600px;
            justify-self: center;
        }
        .engageLogo {
            padding-top: 15%;
        }
        h2 {
            font-size: 10rem;
            max-width: 500px;
        }
        .form {
            button {
                font-size: 2rem;
                width: 100px;
                padding: 10px;
                margin-top: 15%;
            }
            input,
            textarea {
                font-size: 2rem;
            }
        }
        footer {
            p {
                padding: 10px 0 0 0;
                font-size: 1.6rem;
            }
            .socialList {
                width: 270px;
                svg {
                    width: 35px;
                }
            }
        }
    }
}

@include media-query(900px) {
    #home h1 {
        font-size: 6.9rem;
    }
}

@include media-query(800px) {
    #home h1 {
        font-size: 6.0rem;
    }
    .screen7 .inMenu {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 0;
        h4 {
            align-self: unset;
            margin: 0 0 15% 0;
            font-size: 2.5rem;
            padding: 5%;
        }
    }
    .screen6 .columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 2fr 0.5fr 2fr;
        grid-column-gap: 3rem;
        h4 {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                grid-row: 1 / span 1;
            }
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6) {
                grid-row: 3 / span 1;
            }
        }
        ul {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                grid-row: 2 / span 1;
            }
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6) {
                grid-row: 4 / span 1;
            }
        }
    }
    .screen5 .columns {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        h4 {
            grid-column: 1 / span 1;
            &:nth-of-type(2) {
                grid-row: 2 / span 1;
            }
            &:nth-of-type(3) {
                grid-row: 3 / span 1;
            }
        }
        ul {
            margin-bottom: 8%;
            grid-column: 2 / span 1;
        }
    }
    #work .clients {
        grid-gap: 3rem 1rem;
        margin-bottom: 10%;
        grid-template-columns: repeat(3, 1fr);
    }
    .workScreen {
        grid-template-columns: 1fr 1fr;
        &.workFollow {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            .gradient {
                grid-column: 2 / span 1;
                &~.gradient {
                    grid-column: 1 / span 1;
                    &~.gradient {
                        grid-column: 2 / span 1;
                        grid-row: 4 /span 1;
                    }
                }
            }
            .video {
                grid-column: 1 / span 2;
            }
            .image {
                &~.image {
                    grid-column: 1 /span 1;
                    grid-row: 4 /span 1;
                    display: flex;
                    &~.image {
                        grid-column: 2 / span 1;
                    }
                }
            }
        }
        .video {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
            &~.video~.video {
                grid-column: 2 / span 1;
                grid-row: 4 / span 1;
            }
        }
        .image {
            &~.image {
                display: none;
            }
        }
        .gradient {
            &~.gradient {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
                &~.gradient {
                    grid-column: 2 / span 1;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

@include media-query(700px) {
    #home h1 {
        font-size: 5.2rem;
    }
    .screen2 ul {
        flex-direction: column;
        align-items: center;
        li {
            flex-grow: 1;
            grid-template-columns: 1fr;
            grid-template-rows: 1.2fr 1fr;
            width: 100%;
            margin-bottom: 5%;
            padding: 0;
            svg {
                grid-row-start: 1;
                width: 100%;
                height: 100%;
                grid-row-end: span 1;
            }
        }
    }
    .screen3 {
        padding: 20% 2% 20% 2%;
        h3 {
            font-size: 2.5rem;
            padding: 5%;
        }
    }
    .screen4,
    .screen7 {
        padding: 5% 6% 0 3%;
    }
}

@include media-query(600px) {
    #home h1 {
        font-size: 4.3rem;
    }
    #contact {
        h2 {
            font-size: 7.5rem;
        }
    }
}

@include media-query(500px) {
    #home h1 {
        font-size: 3.4rem;
    }
    .screen6 .columns {
        display: flex;
        flex-direction: column;
        h4 {
            width: 80%;
            margin-bottom: 4%;
            padding: 3%;
            text-align: left;
        }
        ul {
            padding-left: 10%;
            margin-bottom: 8%;
        }
    }
    .screen5 .columns {
        display: flex;
        flex-direction: column;
        width: 85%;
        align-self: center;
        justify-self: center;
        h4 {
            padding: 3% 2%;
        }
    }
}

@include media-query(400px) {
    #home h1 {
        font-size: 3.4rem;
    }
    .screen3 h3 {
        font-size: 2rem;
    }
}